$pink: #f85e9f;
$blue: #5d50c6;
$orange: #ff5722;
$yellow: #facd49;
$black: #000000;
$white: #ffffff;
$white-light: #eeeeee;

$grey: #191825;
$grey-dark: #222831;
$grey-50: #19182580;
$grey-75: #191825bf;

$primary-color: $pink;
$secondary-color: $grey-dark;
$tertiary-color: $orange;
$subheading-color: $grey;
