$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

$breakpoints: (
    'mobile': 430px,
    'tablet': 1024px,
    'desktop': 1440px,
    'desktop-lg': 1800px,
);

$buton-font: $font-size-sm;
$navbar-font: $font-size-sm;
$subheading-size: $font-size-lg;
