@use '../abstract' as *;

.header {
    display: flex;
    justify-content: space-between;

    margin: 35px 80px;
    padding: 32px 0;
    padding-left: 50px;
    height: 112px;

    &__menu {
        display: none;
    }

    &__list {
        @include flex-container();
        color: $color-grey;
        font-size: 14px;
        height: 100%;
        gap: 64px;
    }

    &__nav {
        display: flex;
    }
    &__navigation {
        display: block;
    }
    &__logo,
    &__menu {
        width: 40px;
        height: 40px;
    }
    //tablet
    @include media-up(tablet) {
        @include media-down(desktop) {
            padding: 36px 65px;
            margin: 0;
            &__nav {
                flex-direction: row-reverse;
                width: calc(100% - 220px);
                justify-content: space-between;
            }
            &__navigation {
                display: none;
            }

            &__actions {
                width: 68%;
                display: flex;
                justify-content: flex-end;
            }
            &__menu {
                display: block;
            }
        }
    }
    //mobile
    @include media-down(mobile) {
        margin: 0;
        padding: 0;
        &__navigation,
        &__actions {
            display: none;
        }
        &__nav {
            width: 100%;
            justify-content: space-between;
            padding: 35px 15px;
        }
        &__menu {
            display: block;
        }
    }
}
