@use '../abstract' as *;

body.no-scroll {
    overflow: hidden;
}

.header {
    @include flex-container(space-between, center);
    margin: 0;
    padding: 0;
    font-weight: $font-weight-bold;

    &::after {
        content: '';
        position: absolute;
        top: rem(-36px);
        left: rem(-33px);
        width: rem(272px);
        height: rem(348px);
        border-radius: 50%;
        background-color: $orange;
        filter: blur(rem(150px));
        z-index: -1;
        opacity: 50%;

        @include media-up(tablet) {
            top: rem(-174px);
            left: rem(-163px);
            width: rem(500px);
            height: rem(500px);
            filter: blur(rem(200px));
        }

        @include media-up(desktop) {
            top: rem(9px);
            left: rem(-60px);
        }
    }

    &__icons {
        @include flex-container(space-between, center);
        width: 100%;
        padding: rem(37px) rem(22px) rem(35px) rem(16px);
    }

    &__logo,
    &__menu {
        width: rem(40px);
        height: rem(40px);
    }

    &__menu {
        display: block;

        &--img {
            width: 100%;
            height: 100%;
            transform: scale(1.2);
        }
    }

    &__navigation,
    &__actions {
        display: none;
    }

    &__link {
        &--active {
            color: $grey-dark;
        }
    }
    &__mobile-actions {
        @include flex-container(center, stretch, rem($font-size-md), column);
        width: 95%;

        & > *:first-child {
            border: 1px solid $white-light;
        }

        @include media-up(tablet) {
            display: none;
        }
    }
    &__mobile-list {
        @include flex-container(center, center, rem(70px), column);
    }

    &__hamburger {
        @include flex-container(space-between, center, rem(70px), column);
        padding: rem(50px) 0px;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100vh;
        background-color: $white;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.2s ease;
        &--active {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        @include media-up(tablet) {
            left: 0;
            width: 40vw;
        }
    }
    &__close {
        width: rem(25px);
        position: absolute;
        left: rem(8px);
        top: rem(47px);
        padding: rem(3px);
        border: 1px solid grey;
        border-radius: 9px;
        @include media-up(tablet) {
            left: initial;
            right: rem(18px);
        }
    }
    // Tablet
    @include media-up(tablet) {
        padding: rem($font-size-3xl) rem(62px) rem($font-size-3xl) rem(66px);

        &__icons {
            flex-direction: row-reverse;
            width: 52%;
            padding: 0;
        }

        &__navigation {
            display: none;
        }

        &__actions {
            display: flex;
            justify-content: flex-end;
        }
    }

    // Desktop
    @include media-up(desktop) {
        margin: rem(35px) rem(117px) 0 rem(79px);
        padding: rem($font-size-3xl) 0 rem($font-size-3xl) rem(50px);

        &__icons {
            width: auto;
        }

        &__menu {
            display: none;
        }

        &__navigation {
            display: block;
        }

        &__actions {
            display: flex;
        }

        &__list {
            @include flex-container(center, center, rem($font-size-10xl));
            @include font-size($font-size-sm);
            color: $grey-50;
            height: 100%;
        }
    }
}

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.3s ease,
        visibility 0s linear 0s;

    z-index: 1;
}
.backdrop--active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
