@use '../abstract' as *;

.testimonial {
    width: 100vw;
    max-width: 2000px;
    height: rem(735px);
    padding-top: 0;
    position: relative;
    @include flex-container(center, start);

    &__bg {
        display: none;
        width: 100vw;
        max-width: 2000px;
        background: url('/assets/images/testimonial_bg.png') no-repeat center /
            cover;
        opacity: 0.1;
        position: absolute;
    }

    &__main {
        width: 100%;
        height: 100%;
        @include flex-container(space-between, center);
    }

    @include media-up(tablet) {
        &__bg {
            display: block;
            height: 80%;
        }
        &__main {
            width: 90%;
            height: auto;
        }
    }

    @include media-up(desktop) {
        height: rem(949px);
        padding-top: rem(50px);

        &__bg {
            height: calc(100% - 50px);
        }
        &__main {
            width: 85%;
        }
    }
}

.splide {
    width: 100%;
    height: 100%;
    @include flex-container(center, stretch);

    &__logo {
        width: rem(128px);
        height: rem(128px);
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }

    &__track {
        width: 100vw;
        height: rem(682px);
    }

    &__pagination {
        gap: $font-size-2xl;
        height: $font-size-2xl;
        &__page {
            width: $font-size-2xl;
            height: $font-size-2xl;
            background-color: $grey-10;
            border-radius: 50%;
        }
    }

    &__content {
        padding-top: rem(67px);
        @include flex-container(center, center, rem($font-size-lg), column);
    }

    &__header {
        @include flex-container(center, center, 0, column);
    }

    &__name {
        font-weight: $font-weight-bold;
        @include font-size(28px);
        text-align: center;
    }

    &__travel {
        @include font-size(23px);
        opacity: 0.75;
    }

    &__bottom {
        padding-top: rem(58px);
        @include flex-container(center, center, 37px, column);
    }

    &__stars {
        @include flex-container(center, center, rem($font-size-md));
        width: rem(224px);
    }

    &__text {
        @include font-size($font-size-lg);
        color: $grey-75;
        line-height: 1.6;
        padding-top: rem(23px);
        width: 89%;
        text-align: center;
    }

    @include media-up(tablet) {
        height: auto;

        &__track {
            width: 75.5%;
        }

        &__content {
            padding-top: 0;
        }

        &__bottom {
            padding-top: $font-size-5xl;
            gap: rem($font-size-3xl);
        }

        &__text {
            @include font-size(23px);
            padding-top: rem(30px);
            width: 83%;
        }
    }

    @include media-up(desktop) {
        &__track {
            width: 80%;
            height: rem(645px);
        }
    }
}

.splide__arrow.my-arrow {
    width: $font-size-10xl;
    height: $font-size-10xl;
    position: absolute;
    top: 36%;

    @include media-up(tablet) {
        width: rem(100px);
        height: rem(100px);
        top: 50%;
    }
}

.splide__arrow.my-arrow.splide__arrow--next.my-next {
    background-color: $blue;
    color: white;
}
.splide__arrow.my-arrow.splide__arrow--prev.my-prev {
    background-color: white;
    border: 1px solid $grey-10;
}
.splide .splide__pagination__page.is-active {
    background-color: $pink;
}
.splide__pagination.my-pagination {
    left: 10px;
}
.splide__pagination__page.dots {
    height: $font-size-2xl;
    width: $font-size-2xl;
}

.color-orange {
    color: $orange;
}
