@font-face {
    font-family: 'Inter';
    src:
        url('/assets/fonts/Inter/Inter.var.woff2') format('woff2'),
        url('/assets/fonts/Inter/InterVariable.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'circularStd';
    src:
        url('/assets/fonts/circularstd/CircularStd-Bold.woff2') format('woff2'),
        url('/assets/fonts/circularstd/CircularStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'circularStd';
    src:
        url('/assets/fonts/circularstd/CircularStd-Medium.woff2')
            format('woff2'),
        url('/assets/fonts/circularstd/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'circularStd';
    src:
        url('/assets/fonts/circularstd/CircularStd-Book.woff2') format('woff2'),
        url('/assets/fonts/circularstd/CircularStd-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
