@use '../abstract' as *;

h1 {
    font-size: rem(69px);
    line-height: 120%;
    width: 420px;
    height: 249px;
    @include media-down(desktop-lg) {
        @include font-size(69px);
        width: min(rem(575px), 80vw);
        height: auto;
        text-align: center;
    }
    @include media-down(mobile) {
        @include font-size(69px);
    }
}

.heading {
    color: $pink;

    font-weight: Bold;
    font-size: rem(23px);
    letter-spacing: rem(5px);

    padding-bottom: rem(16px);
    text-transform: uppercase;

    @include media-down(mobile) {
        font-size: rem($font-size-md);

        letter-spacing: rem(3px);
        text-align: center;
    }
}

.subheading {
    font-weight: bold;
    font-size: rem($font-size-5xl);
    line-height: 120%;
    padding-bottom: rem($font-size-3xl);
    @include media-down(desktop-lg) {
        font-size: 40px;
    }

    @include media-down(mobile) {
        font-size: 32px;

        text-align: center;
    }
}

.description {
    font-family: 'Inter';
    font-size: rem($font-size-lg);
    color: $grey-50;
    line-height: 160%;
    @include media-down(desktop-lg) {
        text-align: center;
    }
    @include media-down(mobile) {
        text-align: center;
    }
}

.bg-orange {
    width: 500px;
    height: 500px;
    background-color: $orange;
    position: absolute;
    top: 9px;
    opacity: 50%;
    left: -60px;
    border-radius: 50%;
    filter: blur(200px);
    @media (max-width: 1024px) {
        top: -174px;
        left: -163px;
    }
    @media (max-width: 430px) {
        width: 272px;
        height: 348px;
        top: -36px;
        left: -33px;
        filter: blur(150px);
    }
}

.color-pink {
    color: $pink;
}

.color-grey {
    color: $grey;
}
